body
	{
		overflow: hidden;
		-webkit-text-size-adjust: none;
		background: green;
		height: 100vh;
		margin-top: 0;
		margin-bottom: 0;
	}

#phaser-game
	{
		display: flex;
		flex: 1;
	}


#rotateImg
	{
		width: 100%;
	}
