*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{

    /* Patron: https://www.heropatterns.com/*/
    /* color: white; */
    background-color: #c0331ae7 !important;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.5'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


    font-size: 16px;
    font-family: 'Bangers', cursive;

    height: auto;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.containerr {
    width: 95%;
    margin-left: 2.5%;
    /* background: rgb(255, 255, 255); */
    /* background: rgba(0, 0, 0, 0.4); */
}

/* Superior Blanco */
.Sup{
    height: 30px;
    width: 100%;
    background: white;

    display: flex;
    justify-content:space-around;
    align-items: center;

}
.Sup h5{
    font-family: 'Bangers', cursive;
    margin: 10px 10px;
}
.Icons a{
    margin: 0 10px;
    color: black;
}
.Icons i{
    font-size: 25px;
}

/* Barra de Navegacion */
.nav-main {
    height: auto;
    font-size: 17px;
    display: grid;

    /* Columnas */
    grid-template-columns: auto auto;
    /* Filas*/
    grid-template-rows: 80px;
    /* Horizontal */
    justify-content: stretch;
    /* Vertical */
    align-content: flex-start;
    
    background: #000000e9;
    /* border-bottom: 1px solid rgb(12, 206, 220); */

}

.Logo{
    margin-left: 50px;
    width: 80px;
    height: 80px;
}

.nav-menu{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a:hover{
    color:rgb(120,221,226);
}

.nav-main ul li a{
    color: rgba(255, 255, 255, 0.83);
    padding: 6px;
    text-decoration: none;
    font-family: 'Bangers', cursive;
    /* font-weight: bold; */
    font-size: 180%;
    font-style: normal;
}

/* Arma tu Skate */
.Armar_Skate{
    background:rgb(120,221,226);
    text-align: center;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;

}
.Armar_Skate a{
    margin: 0px;
    padding: 15px;
    color:rgb(0, 0, 0);
}
.gif{
    height: 250px;
}
.Armar_Skate .Carrusel img{
    height: 400px;
}
/* Carrusel */
.carousel{
    min-height: 500px;
    background: white;
}
.carousel h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.carousel .carousel-item{
    margin: 0;
    padding: 0;
    width: 350px;
}
.carousel .carousel-item img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.btn{
    /* icono del mouse como si fuera a apretar un boton */
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    /* 10px arriba y abajo \\ 20px a los lados */
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0px;
}
.btn:hover{
    opacity: .7;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}



/* Tarjetas */
.news-cards{
    opacity: 90%;
    background:none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 25px; */
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.news-cards .card .card-image h6{
    color: rgb(0, 0, 0);
}
.card{
    margin: 0px;
    padding: 0px;
    background: none;
    margin: 0px;
    background: white;
    /* border: 1px solid black; */
    /* border-radius: 0px 0px 10px 10px; */
}

.news-cards img{
    width: 100%;
    height: 200px;
}

.card-title{
    color: black;
}

#Card-Doble{
    grid-column: 2 / span 2;
}

#Card-Doble i{
    color: red;
    float: right;
}
#Card-Doble a{
    color: black;
}

#Card-Doble .activator{
    height: 320px;
}

#Card-Doble h1{
    position: absolute;
}

/* card banner one */
.card-full{
    opacity: 90%;
    background: rgb(0, 0, 0);
    height: 350px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 30px;
}

.card-full img{
    width: 100%;
    height: 350px;
}

/* Social */
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}
.social a{
    color: black;

}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
}
.links a i{
    font-size: 3rem;
}

/* footer */
.footer{
    background: #000000ef;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}
.footer a{
    color: rgba(255, 255, 255, 0.83);
}

/* https://www.youtube.com/watch?v=Q2imkhmhOFo&t=4s */
/* https://www.heropatterns.com/ (Patron de fondo) */
/* https://fonts.google.com/specimen/Oswald?query=osw (Fuente Letras)*/
/* https://www.npmjs.com/package/scrollreveal (Efecto de pagina)*/